
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
          <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="index.html"><img src="/img/olx.jpg"><span>OLX Pakistan</span></a>
            <div class="mm-buttons">
              <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
              </div>
              <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
              </div>
            </div>
          </div>
          <div class="menu-and-user" style="display: none;">
            <div class="logged-user-w" style="display: none;">
              <div class="avatar-w">
                <img alt="" src="/img/user.png">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  {{user.first_name}}
                </div>
                <div class="logged-user-role">
                  {{user.last_name}}
                </div>
              </div>
            </div>
            <!--------------------
            START - Mobile Menu List
            -------------------->
            <ul class="main-menu">
              <li>
                <a href="/account">
                  <div class="icon-w">
                    <i class="icon-user"></i>
                  </div>
                  <span style="color:#9db2ff">Account</span>
                </a>
              </li>
              <li>
                <a href="/manage-ads">
                  <div class="icon-w">
                    <i class="icon-settings"></i>
                  </div>
                  <span style="color:#9db2ff">Manage Ads</span>
                </a>
              </li>
              <li class="has-sub-menu" onclick="funChat(true)" id="inboxButton">
                <a href="javascript:void(0)">
                  <div class="icon-w">
                    <i class="icon-bubbles"></i>
                  </div>
                  <span style="color:#9db2ff">Inbox</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <i class="icon-heart"></i>
                  </div>
                  <span style="color:#9db2ff">Favorite</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <i class="picons-thin-icon-thin-0279_chat_message_comment_bubble"></i>
                  </div>
                  <span style="color:#9db2ff">Review</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <i class="picons-thin-icon-thin-0430_money_payment_dollar_coins_cash"></i>
                  </div>
                  <span style="color:#9db2ff">Payment</span>
                </a>
              </li>
            </ul>
            <!--------------------
            END - Mobile Menu List
            -------------------->
          </div>
        </div>
        <!--------------------
        END - Mobile Menu
        --------------------><!--------------------
        START - Menu side compact 
        -------------------->
        <div class="desktop-menu menu-side-compact-w menu-activated-on-hover color-scheme-dark">
          <div class="logo-w" style="background-color:white; padding:12px;">
            <a class="logo" href="/account"><img src="/img/olx.jpg"></a>
          </div>
          <div class="menu-and-user">
            <div class="logged-user-w" style="display: none;">
              <div class="logged-user-i">
                <div class="avatar-w">
                  <img alt="" src="/img/user.png">
                </div>
              </div>
            </div>
            <ul class="main-menu">
              <li class="has-sub-menu">
                <a href="/account">
                  <div class="icon-w">
                    <i class="icon-user"></i>
                  </div>
                  <span style="color:#9db2ff">Account</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="/manage-ads">
                  <div class="icon-w">
                    <i class="icon-settings"></i>
                  </div>
                  <span style="color:#9db2ff">Manage Ads</span>
                </a>
              </li>
              <li class="has-sub-menu" onclick="funChat(true)" id="inboxButton">
                <a href="javascript:void(0)">
                  <div class="icon-w">
                    <i class="icon-bubbles"></i>
                  </div>
                  <span style="color:#9db2ff">Inbox</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <i class="icon-heart"></i>
                  </div>
                  <span style="color:#9db2ff">Favorite</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <i class="picons-thin-icon-thin-0279_chat_message_comment_bubble"></i>
                  </div>
                  <span style="color:#9db2ff">Review</span>
                </a>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <i class="picons-thin-icon-thin-0430_money_payment_dollar_coins_cash"></i>
                  </div>
                  <span style="color:#9db2ff">Payment</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--------------------
        END - Menu side compact 
        -------------------->