
          <div class="top-bar">
            <div class="filters">
              <div class="filters-header">
                <h4>
                  Search By
                </h4>
              </div>
              <form class="form-inline">
                {{!-- <div class="filter-w">
                  <div class="filter-body">
                    <div class="form-group">
                      <label for="">Location</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="os-icon os-icon-ui-74"></i>
                        </div>
                        <input class="form-control zip-width" placeholder="City" type="text" value="">
                      </div>
                    </div>
                  </div>
                </div> --}}
                <div class="filter-w">
                  <div class="filter-body">
                    <div class="form-group">
                      <label for=""> Looking For</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="os-icon os-icon-ui-37"></i>
                        </div>
                        <input class="form-control" id="searchInput" type="text" value="" placeholder="Looking For...">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="buttons-w">
                  <a class="btn btn-upper btn-primary" href="#"><i class="os-icon os-icon-ui-37"></i><span>Search</span></a>
                </div>
              </form>
            </div>
          </div>