<div class="content-box">
    <div class="element-wrapper">
        <h3 class="element-header">
            About Us
        </h3>
        <div class="element-box">
            <img src="img/about.png" style="width:100%;">
        </div>
    </div>
</div>
<script>
    $("#home").removeClass("active");
    $("#about").addClass("active");
    $(".top-bar").hide();
</script>