
    <div class="all-wrapper rentals">
      <div class="rentals-list-w">
        <!--------------------
        START - Property Index Filters
        -------------------->
        
        <!--------------------
        END - Property Index Filters
        -------------------->
        <div class="rentals-list">
          <div class="list-controls">
            <div class="list-info">
              1,240 Properties found in Brooklyn, NY
            </div>
            <div class="list-order">
              <label for="">Order By:</label><select>
                <option>
                  Relevance
                </option>
                <option>
                  Date
                </option>
                <option>
                  Price
                </option>
              </select>
            </div>
          </div>
          <div class="property-items as-grid">
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property2.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    5 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Perfect Located 2BR Aspen Condo</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    12 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$350</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property3.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    3 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Platinum Aspen Core Luxury Home</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    7 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$120</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property1.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    1 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Premier ski-out property on Aspen Mtn, beautiful modern finishes</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    9 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$280</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property2.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    2 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Private Corner Studio in downtown Aspen</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    24 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$179</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property3.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    5 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Platinum Aspen Core Luxury Home</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    4 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$259</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property1.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    1 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Premier ski-out property on Aspen Mtn, beautiful modern finishes</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    9 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$280</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property2.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    2 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Private Corner Studio in downtown Aspen</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    24 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$179</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property3.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    3 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Platinum Aspen Core Luxury Home</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    7 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$120</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property2.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    2 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Private Corner Studio in downtown Aspen</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    24 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$179</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item">
              <a class="item-media-w" href="javascript:void(0)">
                <div class="item-media" style="background-image: url(img/property3.jpg)"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature">
                    5 Bedrooms
                  </div>
                  <div class="feature">
                    Entire Home
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="javascript:void(0)">Platinum Aspen Core Luxury Home</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <div class="br-wrapper br-theme-osadmin"><select class="item-star-rating" style="display: none;">
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option selected="yes" value="4">
                        4
                      </option>
                      <option value="5">
                        5
                      </option>
                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="
                        1
                      " class="br-selected"></a><a href="#" data-rating-value="2" data-rating-text="
                        2
                      " class="br-selected"></a><a href="#" data-rating-value="3" data-rating-text="
                        3
                      " class="br-selected"></a><a href="#" data-rating-value="4" data-rating-text="
                        4
                      " class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="
                        5
                      "></a><div class="br-current-rating">
                        4
                      </div></div></div>
                  </div>
                  <div class="reviews-count">
                    4 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong>$259</strong><span>/per night</span>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" href="javascript:void(0)"><span>Chat</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->
          </div>
          <div class="pagination-w">
            <div class="pagination-info">
              Showing 20-40 Properties found in Brooklyn, NY
            </div>
            <div class="pagination-links">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#"> Previous</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#"> 1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"> 2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"> 3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"> Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
$(document).ready(function(){
  $("#searchInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".property-item").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>